<div v-if="activeMenu === 'strm_configs'">
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
        <h2 style="margin:0">🔗 WebDAV 节点管理与挂载</h2>
        <el-button type="primary" @click="openStrmDialog()"><el-icon><Plus></Plus></el-icon>新增节点</el-button>
    </div>
    <el-table :data="strmConfigs" stripe border shadow="hover">
        <el-table-column prop="config_name" label="节点名称" width="150"></el-table-column>
        <el-table-column prop="url" label="WebDAV 链接" min-width="200"></el-table-column>
        <el-table-column prop="target_directory" label="本地挂载目录"></el-table-column>
        <el-table-column label="更新模式" width="100">
            <template #default="s"><el-tag :type="s.row.update_mode === 'incremental' ? 'success' : 'warning'">{{ s.row.update_mode === 'incremental' ? '增量扫描' : '全量覆盖' }}</el-tag></template>
        </el-table-column>
        <el-table-column label="操作" width="220">
            <template #default="s">
                <el-button type="success" size="small" @click="runStrmTask(s.row.id)">生成</el-button>
                <el-button type="primary" size="small" @click="editStrmConfig(s.row)">编辑</el-button>
                <el-button type="danger" size="small" @click="deleteStrmConfig(s.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog v-model="showStrmDialog" :title="isEditingConfig ? '编辑节点' : '新增 WebDAV 节点'" width="600px" top="5vh">
        <el-form label-position="top">
            <el-row :gutter="20">
                <el-col :span="12"><el-form-item label="节点名称 (如: 115云盘)"><el-input v-model="newStrmConfig.config_name"></el-input></el-form-item></el-col>
                <el-col :span="12"><el-form-item label="云端根目录 (如: /dav/115)"><el-input v-model="newStrmConfig.rootpath"></el-input></el-form-item></el-col>
            </el-row>
            <el-form-item label="WebDAV URL (含协议端口)"><el-input v-model="newStrmConfig.url" placeholder="http://192.168.1.100:5244"></el-input></el-form-item>
            <el-row :gutter="20">
                <el-col :span="12"><el-form-item label="账号"><el-input v-model="newStrmConfig.username"></el-input></el-form-item></el-col>
                <el-col :span="12"><el-form-item label="密码"><el-input v-model="newStrmConfig.password" type="password"></el-input></el-form-item></el-col>
            </el-row>
            <el-form-item label="本地目标挂载物理目录"><el-input v-model="newStrmConfig.target_directory" placeholder="/data/media/115"></el-input></el-form-item>
            
            <el-divider content-position="left">高级比对与防风控设置</el-divider>
            
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="扫描更新模式">
                        <el-select v-model="newStrmConfig.update_mode" style="width: 100%;">
                            <el-option label="增量更新 (仅补齐新文件，极速)" value="incremental"></el-option>
                            <el-option label="全量覆盖 (重新生成覆盖本地)" value="full"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="附属元数据下载">
                        <el-switch v-model="newStrmConfig.download_enabled" :active-value="1" :inactive-value="0" active-text="开启下载" inactive-text="仅STRM"></el-switch>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item label="网盘并发请求随机休眠 (秒, 例如: 1-3 降低风控)">
                <el-input v-model="newStrmConfig.download_interval_range"></el-input>
            </el-form-item>
        </el-form>
        <template #footer><el-button @click="showStrmDialog = false">取消</el-button><el-button type="primary" @click="saveStrmConfig">保存配置</el-button></template>
    </el-dialog>
</div>